@model Dictionary<string, object>

<div class="bg-primary panel=body"><h4>User Details</h4></div>

<table class="table table-condensed table-bordered">
    @foreach (var item in Model)
    {
        <tr><th>@item.Key</th><td>@item.Value</td></tr>

    }
</table>
